:root {
  --dl-color-gray-c-200: rgba(240, 244, 247, 1);
  --dl-color-gray-c-500: rgba(168, 178, 189, 1);
  --dl-color-gray-c-600: rgba(110, 119, 130, 1);
  --dl-color-gray-c-white: rgba(255, 255, 255, 1);
  --dl-color-utility-white: rgba(255, 255, 255, 1);
  --dl-color-core-wyzepurple: rgba(78, 47, 210, 1);
  --dl-color-gray-c-obsidian: rgba(11, 13, 16, 1);
  --dl-color-new_cp-cpp-purple01: rgba(78, 47, 210, 1);
  --dl-color-old_cp-cpp-purple01: rgba(78, 47, 210, 1);
  --dl-color-old_background-surface: rgba(255, 255, 255, 1);
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-oneandhalfunits: 24px;
}
