:root {
  --dl-color-gray-c-200: rgba(240, 244, 247, 1);
  --dl-color-gray-c-500: rgba(168, 178, 189, 1);
  --dl-color-gray-c-600: rgba(110, 119, 130, 1);
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-color-gray-c-white: rgba(255, 255, 255, 1);
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-theme-accent1: #ffffff;
  --dl-color-theme-accent2: #f5d1b0;
  --dl-color-utility-white: rgba(255, 255, 255, 1);
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-theme-primary1: #bf4408;
  --dl-color-theme-primary2: #e65103;
  --dl-layout-size-maxwidth: 1400px;
  --dl-color-core-wyzepurple: rgba(78, 47, 210, 1);
  --dl-color-gray-c-obsidian: rgba(11, 13, 16, 1);
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-theme-secondary1: #ffffff;
  --dl-color-theme-secondary2: #fbf1eb;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-layout-radius-cardradius: 8px;
  --dl-color-new_cp-cpp-purple01: rgba(78, 47, 210, 1);
  --dl-color-old_cp-cpp-purple01: rgba(78, 47, 210, 1);
  --dl-color-theme-neutral-light: #fbfaf9;
  --dl-color-www.figma.com-black: rgba(0, 0, 0, 1);
  --dl-color-www.figma.com-lynch: rgba(102, 119, 153, 1);
  --dl-color-www.figma.com-white: rgba(255, 255, 255, 1);
  --dl-layout-radius-imageradius: 8px;
  --dl-layout-radius-inputradius: 24px;
  --dl-color-www.figma.com-black0: rgba(0, 0, 0, 0);
  --dl-layout-radius-buttonradius: 24px;
  --dl-color-www.figma.com-black51: rgba(0, 0, 0, 0.05098039284348488);
  --dl-color-www.figma.com-mercury: rgba(230, 230, 230, 1);
  --dl-color-www.figma.com-tundora: rgba(68, 68, 68, 1);
  --dl-color-old_background-surface: rgba(255, 255, 255, 1);
  --dl-color-www.figma.com-black102: rgba(0, 0, 0, 0.10196078568696976);
  --dl-color-www.figma.com-black898: rgba(0, 0, 0, 0.8980392217636108);
  --dl-layout-space-oneandhalfunits: 24px;
  --dl-color-www.figma.com-mineshaft: rgba(44, 44, 44, 1);
  --dl-color-www.figma.com-dodgerblue: rgba(13, 153, 255, 1);
  --dl-color-www.figma.com-pomegranate: rgba(242, 72, 34, 1);
}
